<section class="bg-purple-50 text-center py-12">
    <h1 class="text-4xl font-bold mt-4 text-purple-400">Skill</h1>
    
    <!-- Skill technicals -->
    <h2 class="text-3xl font-bold mt-8 text-purple-400">Skill Technicals</h2>
    <div class="mt-6 flex flex-wrap justify-center items-center gap-6 text-lg text-gray-700">
        <div class="flex flex-col items-center">
            <img src="/src/image/java.png" alt="Java Logo" class="w-auto h-20 rounded-full">
            <p class="font-semibold text-purple-500 mt-2 hover:text-purple-600 transition-all duration-300">Java</p>
        </div>
        <div class="flex flex-col items-center">
            <img src="/src/image/html.png" alt="HTML Logo" class="w-auto h-20 rounded-full">
            <p class="font-semibold text-purple-500 mt-2 hover:text-purple-600 transition-all duration-300">HTML</p>
        </div>
        <div class="flex flex-col items-center">
            <img src="/src/image/python.png" alt="Python Logo" class="w-auto h-20 rounded-full">
            <p class="font-semibold text-purple-500 mt-2 hover:text-purple-600 transition-all duration-300">Python</p>
        </div>
    </div>

    <hr class="border-purple-300 my-12">
    
    <!-- Soft Skills -->
    <h2 class="text-3xl font-bold text-purple-400">Soft Skills</h2>
    <div class="mt-6 flex flex-wrap justify-center items-center gap-6 text-lg text-gray-700">
        <div class="flex flex-col items-center">
            <img src="/src/image/Bad.png" alt="Badminton Icon" class="w-auto h-20 rounded-full">
            <p class="font-semibold text-purple-500 mt-2 hover:text-purple-600 transition-all duration-300">แบดมินตัน</p>
        </div>
        <div class="flex flex-col items-center">
            <img src="/src/image/paint.png" alt="Drawing Icon" class="w-auto h-20 rounded-full">
            <p class="font-semibold text-purple-500 mt-2 hover:text-purple-600 transition-all duration-300">วาดรูป</p>
        </div>
    </div>
</section>
